body {
    padding-top: 70px;
    padding-bottom: 20px;
    background-image: url(../images/tiny-squares.png);
    background-repeat: repeat;
}
body.content{
    padding-left: 10px;
    padding-right: 10px;
   
}