@model Opinia
<form asp-action="Index" method="post" class="form-horizontal col-10" role="form" >

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="NazwaUzytkownika" class="col-md-2 col- control-label "></label>
        <div>
            <input asp-for="NazwaUzytkownika" class="form-control" />
            <span asp-validation-for="NazwaUzytkownika" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Email" class="col-md-2 control-label "></label>
        <div>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Wiadomosc" class="col-md-2 control-label "></label>
        <div>
            <textarea asp-for="Wiadomosc" class="form-control"></textarea>
            <span asp-validation-for="Wiadomosc" class="text-danger"></span>

        </div>
    </div>

    <div class="form-group">
        <label asp-for="OczekujeOdpowiedzi"></label>
        <div>
            <input type="checkbox" asp-for="OczekujeOdpowiedzi" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-5">
            <input type="submit" class="btn btn-primary" value="wyślij opinię"/>
        </div>
    </div>

</form>